{% extends 'navbar.html' %}
{% load static %}

{% block content%}
	<h1>Wiki Articles</h1>
	{% if request.user.is_authenticated %}
		<h2>Your Articles</h2>
		<ul>
		{% for creations in user_made %}
			<li>
				<a href="{{ creations.get_absolute_url }}">
					{{ creations }}
				</a>
			</li>
		{% empty %}
			<p><i>You haven't written any articles. Write one now!</i></p>
		{% endfor %}
		</ul>
		<p><a href="{% url 'wiki:article_create' %}">Write an article</a></p>
	{% endif %}
	<ul>
		{% for category in categories %}
			<h2>{{ category.name }}</h2>
			<p><i>{{ category.description }}</i></p>
			{% for article in category.article_set.all %}
				{% if article not in user_made %}
					<li>
						<a href="{{ article.get_absolute_url }}">
							{{ article }}
						</a>
					</li>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</ul>
{% endblock %}