{% extends '../navbar.html' %}
{% block title %}Merchandise Store{% endblock %}
{% block css %}
    body {
        font-family: "Garamond", serif;
        background-color: #D9DDDC;
    }
    {% block custom_css %}
    {% endblock %}
{% endblock %}
{% block content %}
    <div class = "merch-nav" style="text-align: left;">
        <div style="display: inline;">
            <h1>Merchandise Store</h1>
        </div>
        <h3 style="display: inline;"><a href = "{% url 'merchstore:cart' %}">Cart</a></h3>
        <h3 style="display: inline; margin-left: 20px;"><a href = "{% url 'merchstore:transaction-list' %}">Transactions</a></h3>
    </div>
    {% block custom_content %}{% endblock %}
{% endblock %}