{% extends "merchstore/base.html" %}
{% block custom_css %}
{% endblock %}
{% block custom_content %}
    <h3>{{product.name}}</h3>
    <p>{{product.description}}</p>
    <p> 
        <span style="font-weight: bold;">Type:</span> {{product.product_type}}
        <br><span style="font-weight: bold;">Price:</span> P{{product.price}}
        <br><span style="font-weight: bold;">Stocks:</span> {{product.stock}}
        <br><span style="font-weight: bold;">Status:</span> {{product.status}}
        <br><span style="font-weight: bold;">By:</span> {{product.owner}}    
    </p>

    {% if product.owner == request.user.profile %}
    <a href = "{{product.update_product_url}}"><button>Edit</button></a>
    {% else %}
        <form method = "POST">
            {% csrf_token %}
            {{ form.as_div }}
            {% if product.stock == 0 %}
                <button disabled>Buy</button>
            {% else %}
                <button>Buy</button>
            {% endif %}
        </form>
    {% endif %}
{% endblock %}  