{% extends "merchstore/base.html" %}

{% block custom_css %}
    .product_box {
        display: inline-block;
        margin: 10px;
        padding: 10px; 
        border: 1px solid #ccc; 
    }
{% endblock %}

{% block content %}
    <h2> Items for Sale: </h2>
    <ul>
        {% for product_type in product_types %}
        <li>{{ product_type }}</li>
        <ul>
            {% for product in product_type.products.all %}
            <li><a href = "{{ product.get_absolute_url }}">{{ product.name }} </a></li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
{% endblock %}