{% extends 'navbar.html' %}

{% block title %}
    Article List
{% endblock title %}

{% block content %}

    <h1 style="text-align: center;">Blog</h1>

    {% if request.user.is_authenticated %}
        <div style="border: 1px solid #ccc; padding: 10px; margin: 20px;">
            <h2>My Articles</h2>
            <ul>
                {% for article in articles_by_author %}
                    <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
                {% empty %}
                    <li>No articles have been written.</li>
                {% endfor %}
            </ul>
            <div style="text-align: center;">
                <a href="{% url 'blog:article_create' %}"><button style="margin: 10px;">Write an Article</button></a>
            </div>
        </div>
    {% else %}
        <div style="border: 1px solid #ccc; padding: 10px; margin: 20px;">
            <h2>Login to View Your Articles</h2>
            <p>Please <a href="{% url 'login' %}">log in</a> to view your articles.</p>
        </div>
    {% endif %}

    <h2 style="margin-left: 20px;">All articles</h2>
    {% for article_category in object_list %}
        <h3 style="margin-left: 40px;">{{ article_category.name }}</h3>
        <p style="margin-left: 60px;">{{ article_category.description }}</p>
        <div style="border: 1px solid #ccc; padding: 10px; margin-left: 80px;">
            <ul>
                {% for article in article_category.blogArticleCategory.all %}
                    <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
                {% empty %}
                    <li>No articles in this category.</li>
                {% endfor %}
            </ul>
        </div>
    {% empty %}
        <div style="border: 1px solid #ccc; padding: 10px; margin-left: 80px;">
            <p>No articles available.</p>
        </div>
    {% endfor %}

{% endblock %}
